@import "~antd/dist/antd.css";
@import "https://fonts.googleapis.com/css?family=Orbitron";
@import "https://fonts.googleapis.com/css?family=VT323";

html,
.App {
  background-color: rgb(36, 39, 40);
  background-size: 5px 5px;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  display: block;
}

body {
  background: transparent;
}

body,
.ant-layout-header,
.ant-layout-content,
.ant-layout-footer,
.trash-footer {
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.07) 50%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}

a.logo,
a.logo:hover {
  color: white !important;
}

.spin {
  text-align: center;
}

.anticon-sync {
  font-size: 5em;
}

.explain-spin {
  margin: 2em auto 0 auto;
}

.spin ul {
  list-style: none;
}

.ant-layout-header {
  color: white;
  font-family: "Orbitron";
  font-size: 3em !important;
  padding: 0.5em 0 2em 0 !important;
  text-align: center;
}

.swap svg {
  transform: scale(-1, 1);
}

span.ant-tag {
  line-height: 15px;
  margin: 0;
  padding: 1px 3px;
}

.ant-badge {
  margin-right: 10px;
}

.ant-badge-count-sm {
  font-size: 8px;
  line-height: 12px;
  min-width: 12px;
  height: 12px;
}

span.card {
  margin: 0 5px;
}

.ant-card-meta-description .ant-tag {
  margin-right: 0.4em;
}

section.ant-layout {
  background: none !important;
}

.ant-row {
  justify-content: center;
}

.ant-layout-header .ant-col {
  padding-left: 15px;
}

.ant-layout-header .ant-col.logo {
  text-align: center;
}

.ant-layout-sider {
  border-right: 1px solid rgb(240, 240, 240);
}

.ant-menu {
  background: transparent !important;
  border: 0 !important;
  justify-content: center;
  margin: 0 auto !important;
}

ul.ant-menu-sub {
  padding: 8px 0 !important;
  max-height: 300px !important;
  min-height: 0px !important;
}

li.ant-menu-submenu {
  background-color: inherit !important;
  padding: 0 !important;
}

li.ant-menu-submenu::after {
  transition: none !important;
  border-bottom: 0 !important;
}

li.ant-menu-item {
  height: 30px !important;
  line-height: 25px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.ant-menu-title-content > span {
  display: inline-block;
  line-height: 20px !important;
  padding: 0 5px 5px 5px !important;
  width: 100%;
}

.ant-menu-title-content > span .ant-tag,
.ant-menu-title-content > span .card {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.ant-menu-title-content {
  margin: 0 !important;
  padding: 0 !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 60px !important;
  max-width: 60px !important;
  min-width: 60px !important;
  width: 60px !important;
}

.ant-menu-submenu-title img {
  padding: 0 5px !important;
}

.ant-layout-content {
  padding: 0 15px;
}

.ant-input {
  border: 0;
  padding: 0;
  margin-top: 4px;
}

.faction-icons {
  margin-top: 8px;
  text-align: right;
}

.ant-list-header {
  border: 0 !important;
  padding: 0 !important;
}

.army-list-title {
  padding: 8px 8px 0px 8px;
}

.faction-icons img {
  display: inline-block;
  height: 25px;
  margin: 4px 0;
}

.ant-badge-multiple-words {
  padding: 0 4px;
}

.card {
  border-radius: 2px;
  margin: 6px !important;
}

.body:nth-of-type(1) .card {
  margin-top: 0 !important;
}

.body:last-of-type .card {
  margin-bottom: 0 !important;
}

.ant-tooltip-inner {
  padding: 0 !important;
}

.ant-tooltip-inner div.ant-tooltip-inner-box {
  clip-path: polygon(0% 0%, 100% 0%, 100% 40px, 0% 40px) !important;
  padding: 6px 8px;
}

.ant-tooltip-inner .ant-tooltip-inner-box-card {
  background: crimson;
  padding: 6px 8px;
}

.ant-select {
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.ant-select-item-option-content {
  overflow: visible !important;
  white-space: normal !important;
}

.cards,
.ant-menu-submenu-popup,
.ant-tooltip-inner div.ant-tooltip-inner-box {
  background-color: hsl(200, 10%, 12%) !important;
  background-size: 4px 4px !important;
  background-image: linear-gradient(
      0deg,
      hsla(0, 0%, 0%, 0) 75%,
      hsla(0, 0%, 0%, 0.4) 75%
    ),
    linear-gradient(90deg, hsla(0, 0%, 0%, 0) 75%, hsla(0, 0%, 0%, 0.4) 75%) !important;
  box-shadow: inset 0 0 0 4px hsl(0deg 0% 0%),
    inset 0 0 20px 5px hsl(0deg 0% 0% / 50%),
    0 0px 0px 1px hsl(0deg 0% 0% / 40%), 0 1px 0 hsl(0deg 0% 100% / 25%) !important;
}

.ant-menu-item-group-title {
  color: white;
  font-weight: bold;
}

.cards .header {
  padding: 0 0 0 16px;
}

.cards .header textarea {
  background: none !important;
  color: white;
  font-weight: bold;
}

.ant-menu-item-group-list > li {
  clip-path: polygon(0% 0%, 105% 0%, 105% 100%, 0% 100%) !important;
  border-radius: 0 !important;
  margin: 3px 10px 3px 6px !important;
}

.ant-menu-item-group-list > li,
.cards .body .card {
  background: linear-gradient(
    0deg,
    rgb(114 101 90 / 70%),
    rgb(114 101 90 / 90%)
  );
  border-color: rgb(114 101 90 / 100%);
  border-radius: 0 5px 5px 0;
  border-right-color: #d2ccca;
  border-style: solid;
  border-width: 2px;
  box-shadow: #cfc9c7 5px 0 10px, inset #cfc9c7 -2px 0 15px;
  clip-path: polygon(0% 0%, 115% 0%, 115% 100%, 0% 100%);
  color: #d1c5b1 !important;
}

.ant-menu-item-group-list .types {
  color: white;
  font-family: Orbitron;
  font-size: 0.7em;
}

.ant-menu-title-content .card {
  font-family: Orbitron;
  font-size: 0.8em;
}

.cards .body .card .ant-card-meta-title {
  color: inherit;
  font-weight: bold;
}

.cards .body .card .ant-card-meta-title img {
  height: 25px;
  margin-right: 0.2em;
}

.cards .body .card .ant-card-meta-title .card-type {
  color: white;
  font-size: 0.8em;
}

.cards .body div.Aeternus_Continuum,
li.Aeternus_Continuum,
.cards .body .card.Fury,
li.Fury {
  background: linear-gradient(0deg, rgb(120 13 51 / 70%), rgb(120 13 51 / 90%));
  border-color: rgb(120 13 51 / 100%);
  border-right-color: #f25373;
  box-shadow: #ff335a 5px 0 10px, inset #ff335a -2px 0 15px;
  color: #f5276a !important;
}

.cards .body div.Empyrean,
li.Empyrean,
.cards .body .card.Harmonic,
li.Harmonic {
  background: linear-gradient(0deg, rgb(63 43 119 / 70%), rgb(63 43 119 / 90%));
  border-color: rgb(63 43 119 / 100%);
  border-right-color: #ba8eca;
  box-shadow: #a282b8 5px 0 10px, inset #a282b8 -2px 0 15px;
  color: #be58a2 !important;
}

.cards .body div.Iron_Star_Alliance,
li.Iron_Star_Alliance,
.cards .body .card.Geometric,
li.Geometric {
  background: linear-gradient(0deg, rgb(109 50 23 / 70%), rgb(109 50 23 / 90%));
  border-color: rgb(109 50 23 / 100%);
  border-right-color: #da8a46;
  box-shadow: #da8a46 5px 0 10px, inset #da8a46 -2px 0 15px;
  color: #f48324 !important;
}

.cards .body div.Marcher_Worlds,
li.Marcher_Worlds,
.cards .body .card.Overdrive,
li.Overdrive {
  background: linear-gradient(0deg, rgb(8 65 95 / 70%), rgb(8 65 95 / 90%));
  border-color: rgb(8 65 95);
  border-right-color: #2fa9c9;
  box-shadow: #63adc9 5px 0 10px, inset #63adc9 -2px 0 15px;
  color: #2dc3e7 !important;
}

.cards .footer {
  color: white !important;
  font-size: 0.8em;
  padding: 6px 6px;
}

.cards .footer .ant-badge {
  color: inherit;
  font-size: inherit;
  margin: 6px 12px;
}

.card .ant-card-meta-title {
  font-family: Orbitron;
  font-size: 14px;
  font-weight: normal;
}

.card .details {
  text-align: right;
}

.card .details img {
  height: 22px;
}

.card .ant-card-body {
  padding: 12px 16px 8px 16px;
}

.card-content {
  color: white;
  margin-top: 1em;
}

.cards {
  background: rgb(235, 236, 240);
  border-radius: 2px;
  margin: 16px 0;
}

.bookmark {
  font-size: 2em;
}

.bookmark span.anticon {
  vertical-align: middle;
}

.bookmark .ant-col:nth-of-type(2) {
  text-align: right;
}

.bookmark .ant-col:nth-of-type(3) {
  padding: 0 0.4em;
}

.bookmark .ant-col:nth-of-type(4) {
  text-align: left;
}

.bookmark input {
  display: inline-block;
  background-color: rgb(28, 32, 34);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.4) 75%
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.4) 75%);
  background-size: 4px 4px;
  border: 0;
  border-radius: 40px / 60px;
  box-shadow: inset 0 0 0 4px #000000, inset 0 0 20px 5px rgba(0, 0, 0, 0.5),
    0 0px 0px 1px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.25);
  color: rgb(0, 170, 255);
  font-family: "VT323", cursive;
  font-size: 0.8em;
  height: 40px;
  line-height: 30px;
  outline: none;
  padding: 0.6em;
  position: relative;
  text-align: center;
  text-shadow: 0 -1px 0px rgb(102, 204, 255), 0 1px 0px rgba(0, 0, 0, 0.8),
    0 0 13px rgb(0, 170, 255);
  vertical-align: middle;
  width: 100%;
  z-index: 1;
  -webkit-font-smoothing: none;
  font-smooth: never;
}

.copyright-notice {
  color: white;
  font-size: 0.8em;
  margin-top: 3em;
  text-align: center;
}

.trash-footer {
  font-size: 3em;
  margin-bottom: 0;
  text-align: center;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
