@import "~antd/dist/antd.css";

li.ant-menu-item {
  height: 25px !important;
  line-height: 25px !important;
  padding-left: 0px !important;
  width: 300px !important;
}

span.ant-tag {
  line-height: 15px;
  margin: 0;
  padding: 1px 3px;
}

.ant-badge {
  margin-right: 10px;
}

.ant-badge-count-sm {
  font-size: 8px;
  line-height: 12px;
  min-width: 12px;
  height: 12px;
}

span.card {
  margin: 0 5px;
}

.ant-tooltip-placement-left .ant-tooltip-arrow {
  display: none;
}

.ant-layout-header {
  background: white !important;
  font-size: 2em;
  padding: 0 !important;
}

.ant-layout-header .ant-col {
  padding-left: 15px;
}

.ant-layout-header .ant-col.logo {
  text-align: center;
}

.ant-layout-sider {
  border-right: 1px solid rgb(240, 240, 240);
}

.ant-menu {
  border: 0 !important;
}

.ant-menu-title-content {
  margin: 0 !important;
  padding-left: 14px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 60px !important;
  max-width: 60px !important;
  min-width: 60px !important;
  width: 60px !important;
}

.ant-menu-submenu-title {
  padding: 0 0 0 14px !important;
}

.ant-layout-content {
  background: white !important;
  padding: 0 15px;
}

.ant-input {
  border: 0;
  padding: 0;
  margin-top: 4px;
}

.faction-icons {
  text-align: right;
}

.ant-list-header {
  border: 0 !important;
  padding: 0 !important;
}

.army-list-title {
  padding: 8px 8px 0px 8px;
}

.faction-icons img {
  display: inline-block;
  height: 38px;
  margin: 4px 0;
}

.ant-badge-multiple-words {
  padding: 0 4px;
}

.ant-layout-footer {
  background: white !important;
}

.card {
  border-radius: 2px;
  margin: 6px !important;
}

.body:nth-of-type(1) .card {
  margin-top: 0 !important;
}

.body:last-of-type .card {
  margin-bottom: 0 !important;
}

.cards .header {
  padding: 0 0 0 16px;
}

.cards .header textarea {
  background: rgb(235, 236, 240) !important;
  font-weight: bold;
}

.cards .footer {
  padding: 6px 6px;
}

.cards .footer .ant-badge {
  margin: 6px 6px;
}

.card .ant-card-meta-title {
  font-size: 14px;
  font-weight: normal;
}

.card .details {
  text-align: right;
}

.card .details img {
  height: 22px;
}

.card .ant-card-body {
  padding: 12px 16px 8px 16px;
}

.cards {
  background: rgb(235, 236, 240);
  border-radius: 2px;
  margin: 16px 0;
}
