@import "~antd/dist/antd.css";
@import "https://fonts.googleapis.com/css?family=Orbitron";

.ant-layout-header {
  background: white !important;
  font-family: "Orbitron";
  font-size: 3em !important;
  padding: 0.5em 0 2em 0 !important;
  text-align: center;
}

.swap svg {
  transform: scale(-1, 1);
}

span.ant-tag {
  line-height: 15px;
  margin: 0;
  padding: 1px 3px;
}

.ant-badge {
  margin-right: 10px;
}

.ant-badge-count-sm {
  font-size: 8px;
  line-height: 12px;
  min-width: 12px;
  height: 12px;
}

span.card {
  margin: 0 5px;
}

.ant-layout-header .ant-col {
  padding-left: 15px;
}

.ant-layout-header .ant-col.logo {
  text-align: center;
}

.ant-layout-sider {
  border-right: 1px solid rgb(240, 240, 240);
}

.ant-menu {
  border: 0 !important;
  margin: 0 auto !important;
}

ul.ant-menu-sub {
  padding: 8px 0 !important;
  max-height: 300px !important;
  min-height: 0px !important;
}

li.ant-menu-submenu {
  padding: 0 !important;
}

li.ant-menu-submenu::after {
  transition: none !important;
  border-bottom: 0 !important;
}

li.ant-menu-item {
  height: 25px !important;
  line-height: 25px !important;
  padding: 0 15px !important;
}

.ant-menu-title-content {
  margin: 0 !important;
  padding: 0 !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 60px !important;
  max-width: 60px !important;
  min-width: 60px !important;
  width: 60px !important;
}

.ant-menu-submenu-title img {
  padding: 0 5px !important;
}

.ant-layout-content {
  background: white !important;
  padding: 0 15px;
}

.ant-input {
  border: 0;
  padding: 0;
  margin-top: 4px;
}

.faction-icons {
  text-align: right;
}

.ant-list-header {
  border: 0 !important;
  padding: 0 !important;
}

.army-list-title {
  padding: 8px 8px 0px 8px;
}

.faction-icons img {
  display: inline-block;
  height: 38px;
  margin: 4px 0;
}

.ant-badge-multiple-words {
  padding: 0 4px;
}

.ant-layout-footer {
  background: white !important;
}

.card {
  border-radius: 2px;
  margin: 6px !important;
}

.body:nth-of-type(1) .card {
  margin-top: 0 !important;
}

.body:last-of-type .card {
  margin-bottom: 0 !important;
}

.cards .header {
  padding: 0 0 0 16px;
}

.cards .header textarea {
  background: rgb(235, 236, 240) !important;
  font-weight: bold;
}

.cards .footer {
  padding: 6px 6px;
}

.cards .footer .ant-badge {
  margin: 6px 6px;
}

.card .ant-card-meta-title {
  font-size: 14px;
  font-weight: normal;
}

.card .details {
  text-align: right;
}

.card .details img {
  height: 22px;
}

.card .ant-card-body {
  padding: 12px 16px 8px 16px;
}

.cards {
  background: rgb(235, 236, 240);
  border-radius: 2px;
  margin: 16px 0;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
