@import "~antd/dist/antd.css";

li.ant-menu-item {
  height: 25px !important;
  line-height: 25px !important;
  padding-left: 0px !important;
  width: 300px !important;
}

span.ant-tag {
  line-height: 15px;
  margin: 0;
  padding: 1px 3px;
}

.ant-badge {
  margin-right: 10px;
}

.ant-badge-count-sm {
  font-size: 8px;
  line-height: 12px;
  min-width: 12px;
  height: 12px;
}

span.card {
  margin: 0 5px;
}

.ant-list {
  margin-bottom: 15px;
}

.ant-list-item-meta-avatar {
  margin-right: 5px;
}

.ant-list-item-meta-title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: normal;
}

.ant-layout-header {
  background: white !important;
  font-size: 2em;
  padding: 0 !important;
}

.ant-layout-header .ant-col {
  padding-left: 15px;
}

.ant-layout-header .ant-col.logo {
  text-align: center;
}

.ant-menu-title-content {
  margin: 0 !important;
  padding-left: 14px !important;
}

.ant-list-item-meta-title {
  margin: 0;
}

.ant-list-item img {
  height: 22px;
}

.ant-layout-sider-collapsed {
  flex: 0 0 60px !important;
  max-width: 60px !important;
  min-width: 60px !important;
  width: 60px !important;
}

.ant-menu-submenu-title {
  padding: 0 0 0 14px !important;
}

.ant-layout-content {
  background: white !important;
  padding: 0 15px;
}

.ant-input {
  border: 0;
  padding: 0;
  margin-top: 4px;
}

.faction-icons {
  text-align: right;
}

.ant-list-header {
  padding: 0 !important;
}

.army-list-title {
  padding: 8px 16px 2px 16px;
}

.faction-icons img {
  display: inline-block;
  height: 38px;
  margin: 4px;
}

.ant-layout-footer {
  background: white !important;
}
